Package: com.chris.insanelyi
Priority: extra
Section: iApps
Maintainer: ChrisOSX <chrisosx.repo@gmail.com>
Architecture: iphoneos-arm
Version: 3.4.1
Replaces: com.sull.insanelyiapp, com.sull.insanelyiappios6, com.sull.insanelyiappios7, com.sull.insanelyiappios8
Depends: firmware (>= 8.0), firmware (<= 10.2)
Conflicts: com.sull.insanelyiapp, com.sull.insanelyiappios6, com.sull.insanelyiappios7, com.sull.insanelyiappios8
Description: Amazing forum app with iOS 8/9/10 Support!
Name: insanelyi Forum App
Author: @ChrisOSX
Sponsor: ChrisOSX <chrisosx.repo@gmail.com>
Depiction: https://chrisosx.github.io/depictions/index.html?p=com.chris.insanelyi
Tag: purpose::chris
Icon: file:///Applications/insanelyi.app/AppIcon-Cydia.png
